/* credits to tetr.io cause im lazy */

.leveltag {
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  padding-top: 0.2em;
  padding-left: 0.3em;
  padding-bottom: 0;
  padding-right: 1em;
  line-height: 1em;
  color: #000d;
  font-family: "HUN";
  font-weight: 900;
  text-shadow: 0px 0px 2px #0006;
  margin-right: 0em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  margin-left: 0.25em;
  z-index: 1;
}
.leveltag::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f00;
  z-index: -1;
}
/* Leveltag badge shapes */
.leveltag.lt_shape_0::before {
  clip-path: polygon(
    0.2em 0,
    100% 0,
    calc(100% - 0.7em) 100%,
    0.2em 100%,
    0 calc(100% - 0.2em),
    0 0.2em
  );
}
.leveltag.lt_shape_1::before {
  clip-path: polygon(
    0.2em 0,
    100% 0,
    calc(100% - 0.7em) 100%,
    0.2em 100%,
    0 calc(100% - 0.2em),
    0 0.2em
  );
}
.leveltag.lt_shape_2::before {
  clip-path: polygon(
    0.2em 0,
    100% 0,
    calc(100% - 0.6em) 50%,
    100% 100%,
    0.2em 100%,
    0 calc(100% - 0.2em),
    0 0.2em
  );
}
.leveltag.lt_shape_3::before {
  clip-path: polygon(
    0.2em 0,
    100% 0,
    calc(100% - 0.5em) 50%,
    100% 100%,
    0.2em 100%,
    0 calc(100% - 0.2em),
    0 0.2em
  );
}
.leveltag.lt_shape_4::before {
  clip-path: polygon(
    0.2em 0,
    100% 0,
    calc(100% - 0.4em) 30%,
    calc(100% - 0.4em) 70%,
    100% 100%,
    0.2em 100%,
    0 calc(100% - 0.2em),
    0 0.2em
  );
}
.leveltag.lt_golden::before {
  clip-path: polygon(
    0.2em 0,
    calc(100% - 0.7em) 0,
    calc(100% - 0.35em) 50%,
    calc(100% - 0.7em) 100%,
    0.2em 100%,
    0 calc(100% - 0.2em),
    0 0.2em
  );
}
/* Leveltag badge colors */
.leveltag.lt_badge_color_0::before {
  background: linear-gradient(
    to bottom,
    #a9a9a9 0%,
    #c9c9c9 50%,
    #e4e4e4 50%,
    #c3c3c3 100%
  );
}
.leveltag.lt_badge_color_1::before {
  background: linear-gradient(
    to bottom,
    #bc3535 0%,
    #fd3535 50%,
    #ff6d6d 50%,
    #f02d2d 100%
  );
}
.leveltag.lt_badge_color_2::before {
  background: linear-gradient(
    to bottom,
    #bb6a34 0%,
    #f56200 50%,
    #ffa162 50%,
    #ef7320 100%
  );
}
.leveltag.lt_badge_color_3::before {
  background: linear-gradient(
    to bottom,
    #c6b734 0%,
    #e9d41e 50%,
    #edde5f 50%,
    #e9d41e 100%
  );
}
.leveltag.lt_badge_color_4::before {
  background: linear-gradient(
    to bottom,
    #82b933 0%,
    #90dd21 50%,
    #b5f856 50%,
    #90dd21 100%
  );
}
.leveltag.lt_badge_color_5::before {
  background: linear-gradient(
    to bottom,
    #31b951 0%,
    #23ee53 50%,
    #7df89a 50%,
    #23ee53 100%
  );
}
.leveltag.lt_badge_color_6::before {
  background: linear-gradient(
    to bottom,
    #31a89b 0%,
    #22f0da 50%,
    #8afdf1 50%,
    #22f0da 100%
  );
}
.leveltag.lt_badge_color_7::before {
  background: linear-gradient(
    to bottom,
    #31599b 0%,
    #1f6cec 50%,
    #84b2fe 50%,
    #1f6cec 100%
  );
}
.leveltag.lt_badge_color_8::before {
  background: linear-gradient(
    to bottom,
    #673aba 0%,
    #8644ff 50%,
    #bb96ff 50%,
    #8644ff 100%
  );
}
.leveltag.lt_badge_color_9::before {
  background: linear-gradient(
    to bottom,
    #aa35ab 0%,
    #e81bea 50%,
    #fea4ff 50%,
    #e81bea 100%
  );
}
.leveltag.lt_golden::before {
  background: linear-gradient(
    to bottom,
    #ffb400 0%,
    #ffd800 50%,
    #f7e167 50%,
    #ffd800 100%
  );
}
/* Leveltag badge color numbers */
.leveltag.lt_badge_color_0 {
  color: #000d;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_badge_color_1 {
  color: #fffd;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_badge_color_2 {
  color: #000d;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_badge_color_3 {
  color: #000d;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_badge_color_4 {
  color: #000d;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_badge_color_5 {
  color: #000d;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_badge_color_6 {
  color: #000d;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_badge_color_7 {
  color: #fffd;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_badge_color_8 {
  color: #fffd;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_badge_color_9 {
  color: #fffd;
  text-shadow: 0px 0px 2px #0006;
}
.leveltag.lt_golden {
  color: #000d;
  text-shadow: 0px 0px 2px #0006;
}

.leveltag::after {
  content: "";
  position: absolute;
  left: calc(100% - 0.5em);
  top: 0;
  bottom: 0;
  width: 1.5em;
  background-color: #f00;
  z-index: -1;
}
/* Leveltag item shapes */
.leveltag.lt_shape_0::after {
  clip-path: polygon(0.7em 0, 1em 0, 0.3em 100%, 0 100%);
}
.leveltag.lt_shape_1::after {
  clip-path: polygon(0.7em 0, 1.4em 100%, 0 100%);
}
.leveltag.lt_shape_2::after {
  clip-path: polygon(0.7em 0, 0.1em 50%, 0.7em 100%, 1.3em 50%);
}
.leveltag.lt_shape_3::after {
  clip-path: polygon(0.7em 0, 0.2em 50%, 0.7em 100%, 1.2em 75%, 1.2em 25%);
}
.leveltag.lt_shape_4::after {
  clip-path: polygon(
    0.75em 0,
    0.25em 30%,
    0.25em 70%,
    0.75em 100%,
    1.25em 70%,
    1.25em 30%
  );
}
.leveltag.lt_golden::after {
  left: 0.2em;
  top: 0;
  right: 0.2em;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    #ffb400 0%,
    #ffd800 50%,
    #f7e167 50%,
    #ffd800 100%
  );
  filter: blur(8px);
  z-index: -2;
  pointer-events: none;
  opacity: 0.5;
  will-change: transform;
}
/* Leveltag item colors */
.leveltag.lt_shape_color_0::after {
  background: linear-gradient(to bottom, #c9c9c9 0%, #e4e4e4 50%, #c9c9c9 100%);
}
.leveltag.lt_shape_color_1::after {
  background: linear-gradient(to bottom, #fd3535 0%, #ff6d6d 50%, #fd3535 100%);
}
.leveltag.lt_shape_color_2::after {
  background: linear-gradient(to bottom, #f56200 0%, #ffa162 50%, #f56200 100%);
}
.leveltag.lt_shape_color_3::after {
  background: linear-gradient(to bottom, #e9d41e 0%, #edde5f 50%, #e9d41e 100%);
}
.leveltag.lt_shape_color_4::after {
  background: linear-gradient(to bottom, #90dd21 0%, #b5f856 50%, #90dd21 100%);
}
.leveltag.lt_shape_color_5::after {
  background: linear-gradient(to bottom, #23ee53 0%, #7df89a 50%, #23ee53 100%);
}
.leveltag.lt_shape_color_6::after {
  background: linear-gradient(to bottom, #22f0da 0%, #8afdf1 50%, #22f0da 100%);
}
.leveltag.lt_shape_color_7::after {
  background: linear-gradient(to bottom, #1f6cec 0%, #84b2fe 50%, #1f6cec 100%);
}
.leveltag.lt_shape_color_8::after {
  background: linear-gradient(to bottom, #8644ff 0%, #bb96ff 50%, #8644ff 100%);
}
.leveltag.lt_shape_color_9::after {
  background: linear-gradient(to bottom, #e81bea 0%, #fea4ff 50%, #e81bea 100%);
}
